<div class="container">
<div class="row">
      <div class="col-lg-12"><div class="panel panel-info">Add User</div></div>
 </div>
  <div class="row buffer"></div>
  <div class="row">
    <div class="col-lg-4 text-right">First name:</div>
    <div class="col-lg-4"><input type = 'text' id='first_name' class="form-control" placeholder = 'Input Your First Name'></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row buffer"></div>
  <div class="row"> <div class="col-lg-4 text-right">Last name:</div>
    <div class="col-lg-4"><input type = 'text' id='last_name' class="form-control" placeholder = 'Input Your Last Name'></div>
    <div class="col-lg-4"></div></div>
  <div class="row buffer"></div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"><button id='btn_add' class="btn btn-success"><i class='glyphicon glyphicon-ok'></i>     OK</button></div>
    <div class="col-lg-4"></div>
  </div>
  </div>